---
import { Image } from "astro:assets";
import imgLogo from "/src/assets/imgs/logo.png";
import imgCar1 from "/src/assets/imgs/car1.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body>
    <div
      id="secondary_navbar"
      class="relative py-1 pe-10 flex flex-row-reverse gap-x-4 bg-blue-500 font-montserrat font-bold text-white text-sm"
    >
      <a href="#">Contacto</a>
      <a href="#">Políticas</a>
      <a href="#">Trabaja con nosotros</a>
      <a href="#">Publicaciones</a>
      <a href="#">Quiénes Somos</a>
      <a href="#">Proyectos</a>
      <button
        type="button"
        id="btn_navbar_soluciones"
        class="inline-flex items-center gap-x-1"
        ><span>Soluciones</span><svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <div
      id="main_navbar"
      class="relative py-5 pe-10 flex items-center justify-between gap-x-4 bg-black font-montserrat text-white text-sm"
    >
      <div id="logo_wrapper" class="pl-8">
        <a href="#">
          <Image src={imgLogo} alt="Logo Proteger Seguridad" width="100" />
        </a>
      </div>
      <div id="primary_menu" class="flex gap-x-6">
        <div>
          <a href="#" class="font-semibold"> Inicio</a>
        </div>
        <div>
          <button
            type="button"
            id="btn_navbar_productos"
            class="inline-flex items-center gap-x-1 font-semibold"
            ><span>Productos</span><svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <div>
          <a href="#" class="font-semibold"> Hogar</a>
        </div>
        <div>
          <a href="#" class="font-semibold"> Negocio</a>
        </div>
        <div>
          <a href="#" class="font-semibold"> Vehículos</a>
        </div>
        <div>
          <a href="#" class="font-semibold"> Propiedad Horizontal</a>
        </div>
        <div>
          <a href="#" class="font-semibold"> Empresas</a>
        </div>
        <div>
          <a href="#" class="font-semibold"> Operaciones Logísticas</a>
        </div>
      </div>
    </div>

    <div id="hero" class="h-auto">
      <div class="bg-cover bg-center bg-blend-multiply bg-heroBackground bg-neutral-800/40 text-white">
          <div class="h-screen flex flex-col items-center justify-center text-center">
            <h1 class="font-montserrat text-5xl font-bold italic">Nuestro concepto es la comunidad segura</h1>
            <span class="font-montserrat text-2xl font-medium pt-5">Además de proteger las áreas sociales y sus alrededores</span>
            <a href="#" class="font-montserrat text-xl font-semibold uppercase mt-4 py-2 px-5 rounded-full bg-zinc-900 shadow-2xl hover:after:content-['➡️'] hover:after:ml-2 transition ease-in-out hover:after:animate-fade-right">Más información</a>
          </div>
      </div>
    </div>

    <div
      id="dropdown_secondary_navbar"
      class="absolute z-10 top-7 w-screen max-w-max px-4 hidden animate-fade animate-duration-[350ms]"
    >
      <div
        class="w-screen max-w-xs flex-auto overflow-hidden rounded-none bg-blue-500 text-sm leading-6 shadow-lg ring-1 ring-gray-900/5"
      >
        <div class="p-4">
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                Protegeme
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                Proteger Smart
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                CleanApp
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                VigiControl
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                Solución para municipios
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                Solución para colegios y universidades
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                Solución para propiedad horizontal
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
          <div
            class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600"
          >
            <div>
              <a href="#" class="font-semibold text-white">
                Control de contenedores marítimos
                <span class="absolute inset-0"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const btnSoluciones = document.getElementById("btn_navbar_soluciones");
      const dropdownSecondaryNav = document.getElementById(
        "dropdown_secondary_navbar"
      );

      document.addEventListener("DOMContentLoaded", () => {
        checkSecondaryNavbarPos();
      });

      window.addEventListener("click", function (e) {
        if (btnSoluciones.contains(e.target as Node)) {
          dropdownSecondaryNav.classList.toggle("flex");
          dropdownSecondaryNav.classList.toggle("hidden");
        } else if (
          !dropdownSecondaryNav.contains(e.target as Node) &&
          dropdownSecondaryNav.classList.contains("flex")
        ) {
          dropdownSecondaryNav.classList.toggle("flex");
          dropdownSecondaryNav.classList.toggle("hidden");
        }
      });

      window.addEventListener("resize", checkSecondaryNavbarPos);

      function checkSecondaryNavbarPos() {
        const btnSolucionesPos = btnSoluciones.getBoundingClientRect();
        const posLeft =
          btnSolucionesPos.left + window.scrollX - 230 > 0
            ? btnSolucionesPos.left + window.scrollX - 230
            : btnSolucionesPos.left + window.scrollX - 20;
        dropdownSecondaryNav.style.left = `${posLeft}px`;
      }
    </script>
  </body>
</html>
