---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body>
    <div
      id="secondary_navbar"
      class="relative py-1 pe-10 flex flex-row-reverse gap-x-4 bg-blue-500 font-montserrat font-bold text-white text-sm"
    >
      <a href="#">Contacto</a>
      <a href="#">Políticas</a>
      <a href="#">Trabaja con nosotros</a>
      <a href="#">Publicaciones</a>
      <a href="#">Quiénes Somos</a>
      <a href="#">Proyectos</a>
      <a href="#" class="inline-flex items-center gap-x-1"
        ><span>Soluciones</span><svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>


	<div id="dropdown_secondary_navbar" class="absolute left-1/2 z-10 mt-2 flex w-screen max-w-max -translate-x-1/2 px-4">
		<div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-blue-500 text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
		  <div class="p-4">
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">

			  <div>
				<a href="#" class="font-semibold text-white">
				  Protegeme
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  Proteger Smart
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  CleanApp
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  VigiControl
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  Solución para municipios
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  Solución para colegios y universidades
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  Solución para propiedad horizontal
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
			<div class="group relative flex gap-x-6 rounded-lg p-2 transition hover:bg-blue-600">
			  <div>
				<a href="#" class="font-semibold text-white">
				  Control de contenedores marítimos
				  <span class="absolute inset-0"></span>
				</a>
			  </div>
			</div>
		  </div>

		</div>
	  </div>
  </body>
</html>
